---
import Base from '../layouts/Base.astro';

import { Image } from 'astro:assets';
import exitDoor from '../assets/exit-door.png';
import easterEggDoor from '../assets/easteregg-door.png';

const pageTitle = "404 ERROR";
---
<Base pageTitle={pageTitle}>
	<h1>ERROR 404</h1>
	<p>Oops. Sorry for that.</p>
	<p>Take the door to go back at the homepage.</p>

	<div>
		<a href="/"><Image id="exitDoorImage" src={exitDoor} alt="An exit door to the homepage" /></a>
		<a href=""><Image id="easterEggDoor" src={easterEggDoor} alt="A door." /></a>
	</div>
</Base>

<style>
	h1 {
		color: red;
		font-size: 2rem;
	}

	p {
		font-size: 1rem;
	}

	img {
		margin-top: 1.5rem;
	}

	img#easterEggDoor {
		display: none;
	}
</style>

<script>

	document.addEventListener('DOMContentLoaded', function() {
		const exitDoorImage = document.getElementById('exitDoorImage');
		const easterEggDoor = document.getElementById('easterEggDoor');

		exitDoorImage.addEventListener('contextmenu', function(event) {
			event.preventDefault(); 
			exitDoorImage.style.display = 'none';
			easterEggDoor.style.display = 'inline-flex'; 
		});

		easterEggDoor.addEventListener('click', function(event) {
			event.preventDefault();
			event.stopPropagation();

			const key = import.meta.env.DOORKEY;
			let keyOfConsole = prompt("Enter a key.");

			if (keyOfConsole === key) {
				window.location.href = './console';
			} else {
				alert("Wrong key");
			}
		});
	});
</script>
