---
import Base from '../layouts/Base.astro';

import { Image } from 'astro:assets';
import exitDoor from '../assets/exit-door.png';
import easterEggDoor from '../assets/easteregg-door.png';

const pageTitle = "404 ERROR";
---
<Base pageTitle={pageTitle}>
	<h1>ERROR 404</h1>
	<p>Oops. Sorry for that.</p>
	<p>Take the door to go back at the homepage.</p>
	<div>
		<a href="/"><Image id="exitDoorImage" src={exitDoor} alt="An exit door to the homepage" /></a>
		<a href="esper"><Image id="easterEggDoor" src={easterEggDoor} alt="A door." /></a>
	</div>
</Base>

<style>
	h1 {
		color: red;
	}

	img {
		margin-top: 1rem;
	}

	img#easterEggDoor {
		display: none;
	}
</style>

<script>
	document.addEventListener('DOMContentLoaded', function() {
		const exitDoorImage = document.getElementById('exitDoorImage');
		const easterEggDoor = document.getElementById('easterEggDoor');

		exitDoorImage.addEventListener('contextmenu', function(event) {
			event.preventDefault(); 
			exitDoorImage.style.display = 'none'; 
			easterEggDoor.style.display = 'inline-flex'; 
		});
	});
</script>
