---
import Base from '../layouts/Base.astro';

const pageTitle = "404 ERROR"
---
<Base pageTitle={pageTitle}>
	<h1>ERROR 404.</h1>
	<p>Oops. Sorry for that.</p>
	<a href="/"><p>Here's the door to the main entrance.</p></a>
</Base>

<style>
	h1 {
		color: red;
	}
</style>
