---
import Base from '../layouts/Base.astro';

import { Image } from 'astro:assets';

const pageTitle = "404 ERROR";
---
<Base pageTitle={pageTitle}>
	<h1>ERROR 404</h1>
	<p>Oops. Sorry for that.</p>
	<p>Take the door to go back at the homepage.</p>

	<div>
		<a href="/"><img src="/img/exit-door.png" id="exitDoorImage" alt="An exit door to the homepage" /></a>
		<a href=""><img src="/img/easteregg-door.png" id="easterEggDoor" alt="A door." /></a>
	</div>
</Base>

<style>
	h1 {
		color: red;
		font-size: 2rem;
	}

	p {
		font-size: 1rem;
	}

	img {
		margin-top: 1.5rem;
	}

	img#easterEggDoor {
		display: none;
	}
</style>

<script>
	document.addEventListener('DOMContentLoaded', function() {
		const exitDoorImage = document.getElementById('exitDoorImage');
		const easterEggDoor = document.getElementById('easterEggDoor');

		exitDoorImage.addEventListener('contextmenu', function(event) {
			event.preventDefault(); 
			exitDoorImage.style.display = 'none';
			easterEggDoor.style.display = 'inline-flex'; 
		});

		easterEggDoor.addEventListener('click', function(event) {
			const keyPrompt = prompt("Enter the key.");

			event.preventDefault();
			event.stopPropagation();

			if (keyPrompt) {
				fetch(`/api/verify-key?key=${keyPrompt}`)
					.then((response) => response.json())
					.then((data) => {
						if (data.success) {
							localStorage.setItem('doorKey', keyPrompt)
							window.location.href = './console';
						} else {
							alert("Wrong key.");
						}
					})
					.catch((e) => {
						alert(`Uh oh. Looks like we have a problem here. Send the error to @naksufr on Discord. \n\nERROR: ${e}`);
					});
			}
		});
	});
</script>
