---
import Base from '../layouts/Base.astro';

const pageTitle = "ARIA-DOS";
---
<Base pageTitle={pageTitle}>
	<div id="output-console">
		<p>Starting ARIA-DOS...</p>
		<br>
		<p>Welcome GUEST.</p>
		<p>Please login to continue...</p>
	</div>

	<div id="input-console">
		<p id="prompt">$ </p>
		<input type="text" id="user-input" size="96" autofocus >
	</div>
</Base>

<style is:global>
	html, body {
		align-items: baseline;
		justify-content: left;
		margin: 1rem;
		min-width: 100%;
	}

	footer {
		display: none;
	}

	p {
		text-align: left;
		font-size: 24px;
		color: white;
		font-weight: 500;
	}

	div#input-console {
		display: flex;
		flex-direction: row;
		margin-top: 4px;
	}

	div#input-console > p {
		margin-right: 12px;
	}

	input {
		background-color: transparent;
		border: none;
		outline: none;
		color: white;
		font-size: 24px;
		margin-left: -2px;
	}

	.aria-prompt {
		color: purple;
	}
</style>


<script>
	const consoleOutput = document.getElementById("output-console");
	const consoleInput = document.getElementById("user-input");
	const consolePrompt = document.getElementById("prompt");
	var loggedIn = false;

	consoleInput.addEventListener("keydown", function(event) {
		if (event.key === "Enter") {
			event.preventDefault();
			handleCommand(consoleInput.value);
			consoleInput.value = "";
		}
	});

	function scrollToBottom() {
    document.documentElement.scrollTop = document.documentElement.scrollHeight;
	}

	function handleCommand(command) {
		const output = document.createElement("div");

		if (loggedIn === true) {
			output.innerHTML = `<p class="aria-prompt">$ ${command}</p>`;
			consoleOutput.appendChild(output);

			switch(command) {
				case "help":
					output.innerHTML += `<p style="color: yellow;">EASTER EGG STILL IN W.I.P.</p>`;
					break;
				default:
					output.innerHTML += `<p>Command not found.</p>`;
					break;
			}
		} else {
			output.innerHTML = `<p>$ ${command}</p>`;
			consoleOutput.appendChild(output);

			switch(command) {
				case "login":
					loggedIn = true;
					output.innerHTML += `<p>Welcome back, ARIA.</p>`;
					consolePrompt.classList.add("aria-prompt");
					consoleInput.classList.add("aria-prompt");
					break;
				case "help":
					output.innerHTML += `<p>Use the login command to login with your account.</p>`;
					break;
				default:
					output.innerHTML += `<p>Command not found.</p>`;
					break;
			}
		}

		scrollToBottom();
	}
</script>

