---
import Base from '../layouts/Base.astro';

const pageTitle = "ARIA-OS";
---
<Base pageTitle={pageTitle}>
	<div id="output-console">
		<p>ARIA-OS 0.167.2</p>
		<br>
		<p>Please <span style="color: aqua;">login</span> to continue...</p>
	</div>

	<div id="input-console">
		<p id="prompt">$ </p>
		<input type="text" id="user-input" maxlength="64" autofocus />
	</div>
</Base>

<style is:global>
	html, body {
		align-items: baseline;
		justify-content: left;
		margin: 1rem;
		max-wdith: 100%;
		min-width: 100%;
	}

	footer {
		display: none;
	}

	p {
		text-align: left;
		font-size: 1.5rem;
		color: white;
		font-weight: 500;
	}

	div#input-console {
		display: flex;
		flex-direction: row;
		margin-top: 4px;
	}

	div#input-console > p {
		margin-right: 12px;
	}

	div#output-console > p {
		max-width: 100%;
	}

	input {
		background-color: transparent;
		border: none;
		outline: none;
		color: white;
		font-size: 1.5rem;
		margin-left: -2px;
		min-width: 100%;
	}

	.naksu-prompt {
		color: red;
	}

	@media only screen and (max-width: 640px) {
		html, body {
			max-width: 100%;
		}

		p, input {
			font-size: 1rem;
		}
	}
</style>


<script>
	import { handleCommand, consoleInput } from '../scripts/console.js';
	
	consoleInput.addEventListener("keydown", function(event) {
		if (event.key === "Enter") {
			event.preventDefault();
			handleCommand(consoleInput.value);
			consoleInput.value = "";
		}
	});
</script>

