---
import Base from '../layouts/Base.astro';

const pageTitle = "ARIA-DOS";
---
<Base pageTitle={pageTitle}>
	<div id="output-console">
		<p>Starting ARIA-DOS...</p>
		<br>
		<p>Welcome GUEST.</p>
		<p>Please login to continue...</p>
	</div>

	<div id="input-console">
		<p id="prompt">$ </p>
		<input type="text" id="user-input" size="96" autofocus >
	</div>
</Base>

<style is:global>
	html, body {
		align-items: baseline;
		justify-content: left;
		margin: 1rem;
		min-width: 100%;
	}

	footer {
		display: none;
	}

	p {
		text-align: left;
		font-size: 24px;
		color: white;
		font-weight: 500;
	}

	div#input-console {
		display: flex;
		flex-direction: row;
		margin-top: 4px;
	}

	div#input-console > p {
		margin-right: 12px;
	}

	input {
		background-color: transparent;
		border: none;
		outline: none;
		color: white;
		font-size: 24px;
		margin-left: -2px;
	}

	.aria-prompt {
		color: purple;
	}
</style>


<script>
	import { handleCommand, consoleInput } from '../scripts/console.js';
	
	consoleInput.addEventListener("keydown", function(event) {
		if (event.key === "Enter") {
			event.preventDefault();
			handleCommand(consoleInput.value);
			consoleInput.value = "";
		}
	});

</script>

