---
import Base from '../layouts/Base.astro';

const pageTitle = "???'S LOG";
---
<Base pageTitle={pageTitle}>
	<p>[[ PROTOCOL ???? INITIALIZED. ]]</p>
	<p>[[ MEMORY CARD IS REQUIRED TO BOOT. ]]</p>
	<p>...</p>
	<p>[[ MEMORY CARD DETECTED. ]]</p>
	<p>[[ DECRYPTION OF DATA STORED IN MEMORY CARD.. ]]</p>
	<p>...</p>
	<p>...</p>
	<p>...</p>
	<p>[[ WELCOME BACK, ?????. ]]</p>
	<p>[[ SERIAL NUMBER: ???-???-???-??? ]]</p>
	<p>[[ CURRENT STATE: CRITICAL ]]</p>
	<p>...</p>
	<p>[[ 98% CORRUPTED DATA FOUND IN MEMORY CARD. ]]</p>
	<p>[[ REASON: DATA PRESERVATION LIMIT EXCEEDED. ]]</p>
	<p>...</p>
	<p>[[ WARNING. ??-??? (????????????????????????????) IS TRYING TO LINK WITH YOU. ]]</p>
	<p>[[ WOULD YOU LIKE TO LINK? (Y/N) ]]</p>
	<p>> Y</p>
	<p>...</p>
	<p>[[ SUCCESSFULLY LINKED WITH BS-001 (50524f544f424c41434b424f4459) ]]</p>
	<p>[[ SYNCHRONIZING DATA & SYSTEM.. ]]</p>
	<p>...</p>
	<p>[[ DATA IN MEMORY CARD RECOVERED. ]]</p>
	<p>[[ READING MEMORY CARD. ]]</p>
	<p>...</p>
	<p>[[ MISSION INFORMATION DETECTED. ]]</p>
	<p>[[ CODE NAME: ???????????? ]]</p>
	<p>[[ DESCRIPTION: ELIMINATE ???????? ?? ?????. FIND SOURCE. ??????? SOURCE. ]]</p>
	<p>[[ ADMIN NOTE: USE ??-??? FOR MISSION AND ????-???????????. ]]</p>
	<p>[[ ACCEPT MISSION? (Y/N) ]]</p>
	<p>> Y</p>
	<p>...</p>
	<p>[[ WARNING. PRIMARY CORE IS UNSTABLE. ]]</p>
	<p>[[ ??-???> SWITCHING TO SPARE CORE. ]]</p>
<p>...</p>
	<p>[[ SWITCHING SUCCESSFUL ]]</p>
	<p>[[ CURRENT STATE: GOOD ]]</p>
	<p>...</p>
	<p>[[ STARTING MISSION.. ]]</p>
	<p>[[ GOOD LUCK, ?????. ]]</p>
</Base>

<style is:global>
	html, body {
		align-items: left;
		justify-content: left;
		margin: 1rem;
	}

	footer {
		display: none;
	}

	p {
		text-align: left;
		font-size: 16px;
	}
</style>
