---
import Base from '../layouts/Base.astro';

const pageTitle = "HOMEPAGE";
---
<Base pageTitle={pageTitle}>
	<p>[[ PROTOCOL 454C INITIALIZED. ]]</p>
	<p>[[ MEMORY CARD IS REQUIRED TO BOOT. ]]</p>
	<p>...</p>
	<p>[[ MEMORY CARD DETECTED. ]]</p>
	<p>[[ DECRYPTION OF DATA STORED IN MEMORY CARD.. ]]</p>
	<p>...</p>
	<p>...</p>
	<p>...</p>
	<p>[[ WELCOME BACK, ESPER. ]]</p>
	<p>[[ SERIAL NUMBER: 110-117-120-105 ]]</p>
	<p>[[ CURRENT STATE: CRITICAL ]]</p>
	<p>...</p>
	<p>[[ 98% CORRUPTED DATA FOUND IN MEMORY CARD. ]]</p>
	<p>[[ REASON: DATA PRESERVATION LIMIT EXCEEDED. ]]</p>
	<p>...</p>
	<p>[[ WARNING. BS-001 (50524f544f424c41434b424f4459) IS TRYING TO LINK WITH YOU. ]]</p>
	<p>[[ WOULD YOU LIKE TO LINK? (Y/N) ]]</p>
	<p>> Y</p>
	<p>...</p>
	<p>[[ SUCCESSFULLY LINKED WITH BS-001 (50524f544f424c41434b424f4459) ]]</p>
	<p>[[ SYNCHRONIZING DATA & SYSTEM.. ]]</p>
	<p>...</p>
	<p>[[ DATA IN MEMORY CARD RECOVERED. ]]</p>
	<p>[[ READING MEMORY CARD. ]]</p>
	<p>...</p>
	<p>[[ MISSION INFORMATION DETECTED. ]]</p>
	<p>[[ CODE NAME: ENFOLD LIGHT ]]</p>
	<p>[[ DESCRIPTION: ELIMINATE ENTITIES OF LIGHT. FIND SOURCE. CONTAIN SOURCE. ]]</p>
	<p>[[ ADMIN NOTE: USE BS-001 FOR MISSION AND SELF-MAINTENANCE. ]]</p>
	<p>[[ ACCEPT MISSION? (Y/N) ]]</p>
	<p>> Y</p>
	<p>...</p>
	<p>[[ WARNING. PRIMARY CORE IS UNSTABLE. ]]</p>
	<p>[[ BS-001> SWITCHING TO SPARE CORE. ]]</p>
<p>...</p>
	<p>[[ SWITCHING SUCCESSFUL ]]</p>
	<p>[[ CURRENT STATE: GOOD ]]</p>
	<p>...</p>
	<p>[[ STARTING MISSION.. ]]</p>
	<p>[[ GOOD LUCK, ESPER. ]]</p>
</Base>

<style is:global>
	html, body {
		align-items: left;
		justify-content: left;
		margin: 1rem;
	}

	footer {
		display: none;
	}

	p {
		text-align: left;
		font-size: 16px;
	}
</style>
