---
import Base from '../layouts/Base.astro';
import { Image } from 'astro:assets';

const pageTitle = "HOMEPAGE";
---
<Base pageTitle={pageTitle}>
	<div>
		<h1>HEY, WELCOME TO MY <span class="cool-effect">WEBSITE!</span></h1>
		<p>There's nothing here, you can leave now..</p>
	</div>
</Base>

<style>
	h1 {
		font-size: 2rem;
	}

	p {
		font-size: 1rem;
		color: gray;
	}

	span.cool-effect {
		animation: rainbow 20s linear;
		animation-iteration-count: infinite;
	}

	@keyframes rainbow{
		0%{
			color: rgb(255,0,0);
		}
		8%{
			color: rgb(255,127,0);
		}
		16%{
			color: rgb(255,255,0);
		}
		25%{
			color: rgb(127,255,0);
		}
		33%{
			color: rgb(0,255,0);
		}
		41%{
			color: rgb(0,255,127);
		}
		50%{
			color: rgb(0,255,255);
		}
		58%{
			color: rgb(0,127,255);
		}
		66%{
			color: rgb(0,0,255);
		}
		75%{
			color: rgb(127,0,255);
		}
		83%{
			color: rgb(255,0,255);
		}
		91%{
			color: rgb(255,0,127);
		}
		100%{
			color: rgb(255,0,0);
		}
	}
</style>
