---
import Base from '../layouts/Base.astro';
import { Image } from 'astro:assets';

const pageTitle = "HOMEPAGE";
---
<Base pageTitle={pageTitle}>
	<div>
		<Image src="/assets/cute_cat.png" class="cute-cat" alt="A cute cat" width="128" height="128" />
		<div class="h-line"></div>

		<h1>HEY, WELCOME TO MY <span class="cool-effect">WEBSITE!</span></h1>
		<p>There's nothing here, you can leave now..</p>
	</div>
</Base>

<style>
	.cute-cat {
		margin-bottom: -0.50em;
		z-index: -999;
	}

	.cute-cat:hover {
		filter: hue-rotate(240deg);
	}

	.h-line {
		border-top: 2px solid white;
		z-index: 999;
		width: 40%;
		margin: 0 auto;
		margin-bottom: 0.60em;
	}

	span.cool-effect {
		animation: rainbow 20s linear;
		animation-iteration-count: infinite;
	}

	@keyframes rainbow{
		0%{
			color: rgb(255,0,0);
		}
		8%{
			color: rgb(255,127,0);
		}
		16%{
			color: rgb(255,255,0);
		}
		25%{
			color: rgb(127,255,0);
		}
		33%{
			color: rgb(0,255,0);
		}
		41%{
			color: rgb(0,255,127);
		}
		50%{
			color: rgb(0,255,255);
		}
		58%{
			color: rgb(0,127,255);
		}
		66%{
			color: rgb(0,0,255);
		}
		75%{
			color: rgb(127,0,255);
		}
		83%{
			color: rgb(255,0,255);
		}
		91%{
			color: rgb(255,0,127);
		}
		100%{
			color: rgb(255,0,0);
		}
	}
</style>
